
@media screen and (min-width:992px) {
    :root {
        --primary-trans: rgb(240,98,146,.2);
        --shadow-1: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    }
    .modal-backdrop,.swal2-container.swal2-backdrop-show {
        backdrop-filter: blur(20px);
    }
    .navbar {
        box-shadow: var(--shadow-1);
    }
    .navbar-collapse {
        width: 20vw;
    }
    .navbar-collapse .nav-overlay {
        width: 80vw;
    }
    .navbar-collapse:not(.show) {
        transform: translateX(-30vw);
    }
    .navbar-collapse .navbar-nav .nav-link {
        font-weight: 500;
    }
    .btm-nav a {
        text-align: center;
        padding: 1rem .25rem;
        padding-left: 30px;
        font-weight: 500;
        color: var(--dark-semi);
        text-decoration: none;
        position: relative;
    }
    .btm-nav a .icon {
        position: absolute;
        left: 0;
        transform: translateY(-3px);
    }
}
@media screen and (max-width:991px) {
    :root {
        --primary-trans: rgb(240,98,146,.2);
        --secondary: #e0e0e0;
        --shadow-1: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    }
    .navbar {
        box-shadow: var(--shadow-1);
    }
    .navbar-toggler {
        padding: .25rem;
    }
    .navbar-collapse {
        width: 60vw;
    }
    .navbar-collapse .nav-overlay {
        width: 40vw;
    }
    .navbar-collapse .navbar-nav .nav-link {
        padding: 1rem;
    }
    .navbar-collapse:not(.show) {
        transform: translateX(-60vw);
    }
    .card, .table-mother {
        margin-bottom: 2rem;
    }
    .btm-nav a {
        text-align: center;
        padding: .5rem .25rem .35rem;
        font-weight: 500;
        color: var(--dark-semi);
        text-decoration: none;
    }
    .btm-nav a:not(.active):hover {
        color: var(--primary);
    }
    .btm-nav a .icon {
        display: block;
    }
    .btm-nav a .icon svg {
        width: 23px;
        height: 23px;
    }
    .btm-nav a .span {
        display: block;
        font-size: 11px;
    }
    .modal {
        padding: 0!important;
    }
    @keyframes fadeUp {
        0% {
            transform: translateY(200px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .modal .modal-dialog.bottomed {
        animation: fadeUp .5s;
    }
    .modal .modal-dialog.bottomed .close {
        background: var(--dark-semi);
        height: 6px;
        border-radius: 5px;
        position: absolute;
        width: 100px;
        left: calc(50vw - 50px);
        top: 10px;
    }
    .modal .modal-dialog.bottomed .close svg {
        display: none;
    }
    .modal .modal-dialog.bottomed .modal-header{
        padding-top: 3rem;
        position: relative;
    }
    .modal .modal-dialog.bottomed {
        margin: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        min-height: 100%;
    }
    .modal .modal-dialog.bottomed .modal-content {
        border-radius: 22px 22px 0 0 ;
    }
    .card-home .percentage {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: rgba(0,0,0,0.5);
        padding: 5px 10px;
        margin: 0;
        border-radius: 100px;
        padding-left: 35px;
    }
    .card-home .percentage.text-success {
        background-color: var(--success);
        color: #fff!important;
    }
    .card-home .percentage.text-danger {
        background-color: var(--danger);
        color: #fff!important;
    }
    .card-home .percentage svg {
        margin-left: 10px;
    }
}